<!DOCTYPE html>

<script type="text/javascript">
    

    jQuery(function ($) {
    
    "use strict";
    
    $(document).ready(function () {
    });
    
    $('#edit-submit').on('submit', function(e)) {
        console.log('submit btn');
        e.preventDefault();
        
    }
    
    $('#sks-form2').on('submit', function(e){
    });
    //main search block
    $("#sks-form2").submit(function (event) {
        
        event.preventDefault();
    });
     });
</script>

<div class="sks-form" style="margin-bottom: 80px; word-break: break-word;">
    <form id="sks-form" method="post">
        <div class="js-form-item form-item js-form-type-textfield form-item-metavalue js-form-item-metavalue form-no-label">
            <input class="form-control form-text" data-drupal-selector="edit-metavalue" type="text" id="edit-metavalue" name="metavalue" value="" size="60" maxlength="128">
        </div>


        <fieldset id="edit-payloadsearch--wrapper" class="checkbox-custom payloadSearch fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
            <legend>Search in Payload?</legend>
            <div class="fieldset-wrapper">
                <div id="edit-payloadsearch" class="form-checkboxes">
                    <div class="js-form-item form-item js-form-type-checkbox form-item-payloadsearch-yes js-form-item-payloadsearch-yes">
                        <input class="checkbox-custom payloadSearch form-checkbox" id="my-checkbox" data-drupal-selector="edit-payloadsearch-yes" type="checkbox" name="payloadSearch[Yes]" value="Yes">

                        <label for="edit-payloadsearch-yes" class="option">Yes</label>
                    </div>

                </div>
            </div>
        </fieldset>
        <fieldset id="edit-searchbox-types--wrapper" class="checkbox-custom searchbox_types fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">

            <legend>Type of Entity</legend>
            <div class="fieldset-wrapper">
                <div id="edit-searchbox-types" class="form-checkboxes">
                    {% for item in result['entity'] %}
                        <div class="js-form-item form-item js-form-type-checkbox">
                            <input id="my-checkbox" class="checkbox-custom searchbox_types form-checkbox" data-drupal-selector="edit-searchbox-types-acdhcollection"
                                   type="checkbox" name="{{ item['inputName'] }}" value="{{ item['inputValue'] }}">
                            <label class="option" >{{ item['inputLabel'] }}</label> 
                        </div>
                    {% endfor  %}
                </div>
            </div>
        </fieldset>

        <fieldset id="edit-searchbox-category--wrapper" class="checkbox-custom searchbox_category fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
            <legend>Category</legend>
            <div class="fieldset-wrapper">
                <div id="edit-searchbox-category" class="form-checkboxes">
                    {% for item in result['category'] %}
                        <div class="js-form-item form-item js-form-type-checkbox">
                            <input id="my-checkbox" class="checkbox-custom searchbox_types form-checkbox" data-drupal-selector="edit-searchbox-types-acdhcollection"
                                   type="checkbox" name="{{ item['inputName'] }}" value="{{ item['inputValue'] }}">
                            <label class="option" >{{ item['inputLabel'] }}</label> 
                        </div>
                    {% endfor  %}
                </div>
            </div>
        </fieldset>

        <fieldset id="edit-datebox-years--wrapper" class="checkbox-custom datebox_years fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
            <legend>Entities by Year</legend>
            <div class="fieldset-wrapper">
                <div id="edit-searchbox-category" class="form-checkboxes">
                    {% for item in result['year'] %}
                        <div class="js-form-item form-item js-form-type-checkbox">
                            <input id="my-checkbox" class="checkbox-custom searchbox_types form-checkbox" data-drupal-selector="edit-searchbox-types-acdhcollection"
                                   type="checkbox" name="{{ item['inputName'] }}" value="{{ item['inputValue'] }}">
                            <label class="option" >{{ item['inputLabel'] }}</label> 
                        </div>
                    {% endfor  %}
                </div>
            </div>
        </fieldset>

        <div class="form-actions" style="display:block;">
            <input class="complexsearch-btn button button--primary js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Apply the selected search filters">
        </div>
    </form>
</div>
             
