<!--  ARCHE DETAIL VIEW VERSIONS BLOCK TEMPLATE -->
{% if result|length > 1 %}
    <div class="">
        <h3 class="">
            {{ "Versions"|trans }}
        </h3>
    </div>
        
    <div class="block">
        {% for key, value in result %}
            {% set versionTxt = '' %}
            {% if key == 0 %}
                {% set versionTxt = 'Latest:' %}
            {% endif %}    
            <div class="pl-2 pb-1 arche-versions-row {{ value.actual }}">
                <i class="material-icons" style="font-size:14px !important" >layers</i>&nbsp;<a href="/browser/oeaw_detail/{{ value.id }}">{{ versionTxt|trans }} {{ value.avdate|date('d M Y') }} - {{ value.version }}</a>
            </div>
        {% endfor %}
    </div>
{% endif %} 

