<!--  ARCHE DETAIL VIEW VERSIONS BLOCK TEMPLATE -->
{% if result|length > 1 %}
    <div class="container" style="padding-top: 20px;">
        <div class="row" style="border-top: 1px solid #DDDDDD; padding-top: 20px;">
            <div class="col-lg-5">
                <h3 class="">
                    {{ "Versions"|trans }}
                </h3>
            </div>
            <div class="col-lg-7 versions-text">
                 <div class="res-act-button res-act-button-reverse res-act-button-versions-treeview basic" style="text-align:left; margin-bottom:5px;">
                    <i class="material-icons">&#xE335;</i>
                    <span>{{ "Show as Tree"|trans }}</span>
                </div>
            </div>
        </div>
    </div>
   


    <div class="block versions-list-view">
        {% for key, value in result %}
            {% set versionTxt = '' %}
            <div class="pl-2 pb-1 arche-versions-row {{ value.actual }}">
                <i class="material-icons" style="font-size:14px !important" >layers</i>&nbsp;<a href="/browser/oeaw_detail/{{ value.id }}">{{ versionTxt|trans }} {{ value.avdate|date('d M Y') }} &ndash; {{ value.version }}</a>
            </div>
        {% endfor %}
    </div>
    
    <div id="versions-tree" class="collectionBrowser_css" style="display:none;"></div>
{% endif %} 


