

<div class="row arche_detail_view_main" >
    <div class="col-block col-lg-12 " style="min-height: 300px; text-align: center; border: none;" id="arche-loader-image-div">
        <img  class="" src="/browser/modules/contrib/arche-gui/images/arche_logo_flip_47px.gif"/>
    </div>
    <div class="res-el res-info col-block col-lg-12 ">
        <link rel="stylesheet" type="text/css" href="/browser/core/themes/classy/css/components/messages.css">

        <input type="hidden" id="insideUri" name="insideUri" value="{{ helper.insideUri }}">
        <input type="hidden" id="acdhid" name="acdhid" value="{{ helper.acdhid }}">
        <input type="hidden" id="apiUrl" name="apiUrl" value="{{ helper.apiUrl  }}">
        <input type="hidden" id="basic_auth" name="basic_auth" value="{{ helper.basic_auth  }}">

        <div class="row">
            <div class="col-lg-12">
                {{ include('/modules/contrib/arche-gui/templates/detail-api/arche-detail-breadcrumb.html.twig' ) }}
                {{ include('/modules/contrib/arche-gui/templates/detail-api/arche-detail-versions.html.twig', {'acdhid': helper.acdhid } ) }}

                <!-- OVERVIEW DIV -->
                <div id="detail-overview-api-div">
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12"> 
                <div id="child-div-content" style="display: none;">       
                    {{ include('/modules/contrib/arche-gui/templates/detail-api/arche-detail-child.html.twig' ) }}       
                </div>
            </div>
        </div>


    </div>
</div>

