{% set properties = {
    'acdh:hasAddressLine1': {
        'icon': 'subtitles',
        'label': 'Address'
    },
    'acdh:hasAddressLine2': {
        'icon': 'subtitles',
        'label': 'Address'
    },
    'acdh:Postcode': {
        'icon': 'subtitles',
        'label': 'Postcode'
    },
    'acdh:hasCity': {
        'icon': 'subtitles',
        'label': 'City'
    },
    'acdh:hasRegion': {
        'icon': 'subtitles',
        'label': 'Region'
    },
    'acdh:hasCountry': {
	'icon': 'subtitles',
        'label': 'Country'
    },
    'acdh:hasUrl': {
        'icon': 'subtitles',
        'label': 'Url'
    },
    'acdh:hasEmail': {
        'icon': 'subtitles',
        'label': 'Email',
        'type': 'email'
    }    
}
%}

<div class="arche-detail-view" >
    <div class="arche-detail-main" id="arche-dv-main">

        {% set titleimage = basic.getTitleImage() %}        
        {% if titleimage %}
            <div class='row'>
                <div class="res-inside-wrap col-lg-8 ">
                {% endif%}
                {% if  basic.getTitle() %}
                    <div class="res-property">
                        <span class="res-title detail-title-span">
                            {{  basic.getTitle() }}
                        </span>
                    </div>
                {% endif%} 

                {%  if basic.getData('acdh:hasAlternativeTitle') %}
                    {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                    {'data': basic.getData('acdh:hasAlternativeTitle'), 'icon': "title", 'label': "Alternative Title"} ) }}
                {% endif%}

                {% if basic.getRdfTypes() %}
                    <div class="res-property">
                        <i class="material-icons">&#xE54E;</i>
                        <span class="res-prop-label">{{ "Type"|trans }}:</span> 
                        <span class="res-prop-value">
                            {% for value in basic.getRdfTypes() %}
                                <a href="/browser/search/type={{ value }}&payload=false/titleasc/10/1">{{ value }}</a>
                            {% endfor %}
                        </span>
                    </div>
                {% endif%}

                {%  if basic.getNonAcdhApiIdentifiers() %}
                    {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', {'data': basic.getNonAcdhApiIdentifiers(), 'icon': "label", 'label': "Identifier(s)"} ) }}
                {% endif%}

                {% for key, value in properties %}
                    {% if basic.getData(key) %}
                        {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', {'data': basic.getData(key), 'icon': value.icon, 'label':  value.label, 'type': value.type, 'dateformat': value.dateformat, 'delimiter': value.delimiter } ) }}
                    {% endif%}
                {% endfor %}
                <br/>    

                {% if titleimage %}</div>{% endif%}

            {% if titleimage %}	
                <div class="res-inside-wrap col-lg-4 ">	
                    <div class="single-res-thumb">
                        <a href="/browser/oeaw_detail/{{ basic.getRepoId() }}">
                            {{ titleimage|raw }}
                        </a>
                    </div>
                </div>
            </div>
        {% endif%}
    </div>

    <div>
        <h3 class="single-res-heading">{{ "Member(s)"|trans }}</h3>
        <div class="res-act-button">
            <a href="#" id="showIsMember" data-tableurl="{{ basic.getRepoId() }}">{{ "Get Member(s)"|trans }} </a>
        </div>
        <div id="isMemberTableDiv" style="display: none;">
            <table class="isMemberTable table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>{{ "Member Name"|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>    
    </div>          
    <br/>
</div>    
