{% 
set properties = {
    'acdh:hasUrl': {
	'icon': 'web',
        'label': 'Url'
    },
    'acdh:hasContact': {
        'icon': 'person_add',
        'label': 'Contact(s)'
    },
    'acdh:hasFunder': {
        'icon': 'attach_money',
        'label': 'Funder'
    },
    'acdh:hasPrincipalInvestigator': {
        'icon': 'perm_identity',
        'label': 'Principal Investigator(s)'
    },
    'acdh:hasStartDate': {
        'icon': 'today',
        'label': 'Start Date',
        'type': 'date',
        'dateformat': 'd M Y'
    },
    'acdh:hasEndDate': {
        'icon': 'today',
        'label': 'End Date',
        'type': 'date',
        'dateformat': 'd M Y'
    },
    'acdh:hasLanguage': {
        'icon': 'flag',
        'label': 'Language'
    },
    'acdh:hasLifeCycleStatus': {
        'icon': 'history',
        'label': 'Life Cycle Status'
    }
}
%}

{% 
set furtherProperties = {
    'acdh:hasRelatedDiscipline': {
	'icon': 'info',
        'label': 'Related Discipline(s)'
    },
    'acdh:hasSubject': {
        'icon': 'info',
        'label': 'Subject'
    },
    'acdh:hasActor': {
        'icon': 'info',
        'label': 'Actor'
    },
    'acdh:hasSpatialCoverage': {
        'icon': 'info',
        'label': 'Spatial Coverage'
    },
    'acdh:hasTemporalCoverage': {
        'icon': 'info',
        'label': 'Temporal Coverage'
    },    
    'acdh:hasCoverageStartDate': {
        'icon': 'info',
        'label': 'Coverage Start Date',
        'dateformat': 'Y'
    },
    'acdh:hasCoverageEndDate': {
        'icon': 'info',
        'label': 'Coverage End Date',
        'dateformat': 'Y'
    },
    'acdh:hasAppliedMethod': {
        'icon': 'info',
        'label': 'Applied Method'
    },
    'acdh:hasAppliedMethodDescription': {
        'icon': 'info',
        'label': 'Applied Method Description'
    },
    'acdh:hasTechnicalInfo': {
        'icon': 'info',
        'label': 'Technical Info'
    },
    'acdh:hasEditorialPractice': {
        'icon': 'info',
        'label': 'Editorial Practice'
    },
    'acdh:hasNote': {
        'icon': 'info',
        'label': 'Note'
    }
}
%}

<div class="arche-detail-view" >
    <div class="arche-detail-main" id="arche-dv-main">
        
        {% set titleimage = basic.getTitleImage() %}        
        {% if titleimage %}
            <div class='row'>
                <div class="res-inside-wrap col-lg-8 ">
        {% endif%}

            {% if  basic.getTitle() %}
                <div class="res-property">
                    <span class="res-title detail-title-span">
                        {%  if basic.getAccessRestriction() %}
                            {{ include('/modules/contrib/arche-gui/templates/helper-accesResFormat.html.twig', {'data': basic.getAccessRestriction() } ) }}
                        {% endif%}
                        {{  basic.getTitle() }}
                    </span>
                </div>
            {% endif%} 

            {% if basic.getRdfTypes() %}
                <div class="res-property">
                    <i class="material-icons">&#xE54E;</i>
                    <span class="res-prop-label">{{ "Type"|trans }}:</span> 
                    <span class="res-prop-value">
                        {% for value in basic.getRdfTypes() %}
                            <a href="/browser/search/type={{ value }}&payload=false/titleasc/10/1">{{ value }}</a>
                        {% endfor %}
                    </span>
                </div>
            {% endif%}

            {%  if basic.getData('acdh:hasAlternativeTitle') %}
                <div class="res-property">
                    {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', {'data': basic.getData('acdh:hasAlternativeTitle'), 'icon': "title", 'label': "Alternative Title" } ) }}
                </div>
            {% endif%}

            {%  if basic.getNonAcdhApiIdentifiers() %}
                <div class="res-property">
                    {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', {'data': basic.getNonAcdhApiIdentifiers(), 'icon': "label", 'label': "Identifier(s)" } ) }}
                </div>
            {% endif%}

            {% for key, value in properties %}
                {% if basic.getData(key) %}
                     {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', {'data': basic.getData(key), 'icon': value.icon, 'label':  value.label, 'type': value.type, 'dateformat': value.dateformat, 'delimiter': value.delimiter } ) }}
                {% endif%}
            {% endfor %}

        {% if titleimage %}</div>{% endif%}

        {% if titleimage %}	
                <div class="res-inside-wrap col-lg-4 ">	
                    <div class="single-res-thumb">
                        <a href="/browser/oeaw_detail/{{ basic.getRepoId() }}">
                            {{ titleimage|raw }}
                        </a>
                    </div>
                </div>
            </div>
        {% endif%}
    </div>
</div>    
