{% if (basic.getData('acdh:hasDescription') or basic.getData('acdh:hasSpatialCoverage') or basic.getData('acdh:hasNote')) %}
    <h3 class="single-res-heading">{{ "Summary"|trans }}</h3>

    {% if basic.getData('acdh:hasRelatedDiscipline')[0] %}
        <div class="res-property">
            {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                    {'data': basic.getData('acdh:hasRelatedDiscipline'), 'icon': 'info_outline', 'label':  'Related Discipline(s)' } ) 
            }}
        </div>
    {% endif %}

    {% if basic.getData('acdh:hasSubject')[0] %}
        <div class="res-property">
            {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                    {'data': basic.getData('acdh:hasSubject'), 'icon': 'info_outline', 'label':  'Subject(s)' } ) }}
        </div>
    {% endif %}

    {% if basic.getData('acdh:hasSpatialCoverage') %}
        <div class="res-property">
            {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                    {'data': basic.getData('acdh:hasSpatialCoverage'), 'icon': 'info_outline', 'label':  'Spatial Coverage' } ) }}
        </div>
    {% endif %}

    {% if basic.getData('acdh:hasCoverageStartDate')[0] %}
        <div class="res-property">
            {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                    {'data': basic.getData('acdh:hasCoverageStartDate'), 'icon': 'info_outline', 'label':  'Coverage Start Date', 'type': 'date', 'dateformat': 'Y' } ) }}
        </div>
    {% endif %}

    {% if basic.getData('acdh:hasCoverageEndDate')[0] %}
        <div class="res-property">
            {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                    {'data': basic.getData('acdh:hasCoverageEndDate'), 'icon': 'info_outline', 'label':  'Coverage End Date', 'type': 'date', 'dateformat': 'Y' } ) }}
        </div>
    {% endif %}

    {% if basic.getData('acdh:hasDescription')[0] %}
        <div class="res-property">
            {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                    {'data': basic.getData('acdh:hasDescription'), 'icon': 'info_outline', 'label':  'Description' } ) }}
        </div>
    {% endif %}

    {% if basic.getData('acdh:hasNote')[0] %}
        <div class="res-property">
            {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                    {'data': basic.getData('acdh:hasNote'), 'icon': 'info_outline', 'label':  'Note' } ) }}
        </div>
    {% endif %}

    <!-- IF the type is project -->
    {% if basic.getAcdhType()|lower == 'project' %}
        {% if basic.getData('acdh:hasTemporalCoverage')[0] %}
            <div class="res-property">
                {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                        {'data': basic.getData('acdh:hasTemporalCoverage'), 'icon': 'info_outline', 'label': 'Temporal Coverage' } ) }}
            </div>
        {% endif %}    

        {% if basic.getData('acdh:hasAppliedMethod')[0] %}
            <div class="res-property">
                {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                        {'data': basic.getData('acdh:hasAppliedMethod'), 'icon': 'info_outline', 'label': 'Applied Method' } ) }}
            </div>
        {% endif %}    

        {% if basic.getData('acdh:hasAppliedMethodDescription')[0] %}
            <div class="res-property">
                {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                        {'data': basic.getData('acdh:hasAppliedMethodDescription'), 'icon': 'info_outline', 'label': 'Applied Method Description' } ) }}
            </div>
        {% endif %}    

        {% if basic.getData('acdh:hasTechnicalInfo')[0] %}
            <div class="res-property">
                {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                        {'data': basic.getData('acdh:hasTechnicalInfo'), 'icon': 'info_outline', 'label': 'Technical Info' } ) }}
            </div>
        {% endif %}    

        {% if basic.getData('acdh:hasEditorialPractice')[0] %}
            <div class="res-property">
                {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                        {'data': basic.getData('acdh:hasEditorialPractice'), 'icon': 'info_outline', 'label': 'Editorial Practice' } ) }}
            </div>
        {% endif %}
    {% endif %}

{% endif%}