{% set properties = {
    'acdh:hasAccessRestriction': {
        'type': 'vocabs_expert_view'
    },
    'acdh:hasActor': {
        'type': 'internal_url'
    },
    'acdh:hasAuthor': {
        'type': 'internal_url'
    },
    'acdh:hasBinarySize': {
        'type': 'binary'
    },
    'acdh:hasCategory': {
        'type': 'vocabs_expert_view'
    },
    'acdh:hasCurator': {
        'type': 'internal_url'
    },
    'acdh:hasCreator': {
        'type': 'internal_url'
    },
    'acdh:hasContact': {
        'type': 'internal_url'
    },
    'acdh:hasContributor': {
        'type': 'internal_url'
    },
    'acdh:hasDepositor': {
        'type': 'internal_url'
    },
    'acdh:hasDerivedPublication': {
        'type': 'text'
    },
    'acdh:hasEditor': {
        'type': 'internal_url'
    },
    'acdh:hasFunder': {
        'type': 'internal_url'
    },
    'acdh:hasHosting': {
        'type': 'internal_url'
    },
    'acdh:hasIdentifier': {
        'type': 'external_url'
    },
    'acdh:hasLanguage': {
        'type': 'vocabs_expert_view'
    },
    'acdh:hasLicense': {
        'type': 'vocabs_expert_view'
    },
    'acdh:hasLicensor': {
        'type': 'internal_url'
    },
    'acdh:hasLifeCycleStatus': {
        'type': 'vocabs_expert_view'
    },
    'acdh:hasMetadataCreator': {
        'type': 'internal_url'
    },
    'acdh:hasNumberOfItems': {
        'type': 'text'
    },
    'acdh:hasOaiSet': {
        'type': 'vocabs_expert_view'
    },
    'acdh:hasOwner': {
        'type': 'internal_url'
    },
    'acdh:hasPrincipalInvestigator': {
        'type': 'internal_url'
    },
    'acdh:hasRelatedDiscipline': {
        'type': 'vocabs_expert_view'
    },
    'acdh:hasRightsHolder': {
        'type': 'internal_url'
    },
    'acdh:hasSpatialCoverage': {
        'type': 'internal_url'
    },
    'acdh:hasTitleImage': {
        'type': 'internal_url'
    },
    'acdh:hasUrl': {
        'type': 'external_url'
    },
    'acdh:hasPid': {
        'type': 'external_url'
    },
    'acdh:hasRelatedProject': {
        'type': 'internal_url'
    },
    'acdh:isPartOf': {
        'type': 'internal_url'
    },
    'acdh:isDerivedFrom': {
        'type': 'internal_url'
    },
    'rdfs:seeAlso': {
        'type': 'internal_url'
    },
    'acdh:hasCreatedDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasCreatedStartDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasCreatedEndDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasAvailableDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasStartDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasEndDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasCoverageStartDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasCoverageEndDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasTemporalCoverageIdentifier': {
        'type': 'internal_url'
    },
    'acdh:isMemberOf': {
        'type': 'internal_url'
    }
}
%}

<!-- expert view -->
<div class="single-res-overview single-res-overview-expert">
    
     {% if  basic.getTitle() %}
        <div class="res-property">
            <span class="res-title">
                {%  if basic.getAccessRestriction() %}
                    {{ include('/modules/contrib/arche-gui/templates/helper-accesResFormat.html.twig', {'data': basic.getAccessRestriction() } ) }}
                {% endif%}
                {{  basic.getTitle() }}
            </span>
        </div>
    {% endif%} 

    <table class="display table table-striped" id='expertTable' cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for key,value in basic.getExpertTableData() %}

                <tr>
                    <td width='40%'>
                        {% if extra[key].description %}
                            <div style='float:left;'>
                                {{ key }}
                            </div>
                            <div style='float:right;'>
                                <a  class="" data-toggle="tooltip" data-placement="right" data-html="true" title="{{ extra[key].description}}">
                                    <i class="material-icons" style='font-size:17px; color: #88DBDF;'>&#xE88F;</i>
                                </a>
                            </div>
                        {% else %}
                            {{ key }}
                        {% endif %}
                    </td>
                    <td width='60%'>
                        {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                            {'data': value, 'type':properties[key].type, 'dateformat': properties[key].dateformat, 'delimiter': properties[key].delimiter, 'where_to_open': properties[key].where_to_open } 
                            ) 
                        }}  
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="res-act-button">
        <a href="#" id="showInverse" data-tableuri="{{basic.getRepoId()}}">{{ "Show Inverse Table"|trans }}</a>
    </div>

    <div id="inverseTableDiv" style="display: none;">
        <h3>{{ "Inverse Data"|trans }}</h3>
        <table class="inverseTable table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>                        
                    <th>Property</th>
                    <th>Value(s)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
        
</div>	
<br>
