{% if data.errorMSG %}  
    <br>
{% else %}


    <style type="text/css">
        .collectionBrowser_css {
            width: auto;
            max-width: 750px;
            height: auto;
            border: solid 1px #BBB;
            background: #FFF;
            overflow: hidden;
            padding: 5px;
        }
    </style>

    {% if data.acdhType|lower == "concept" %}
        {% set childTitle =  "Narrower(s)" %}
    {% elseif data.acdhType|lower == "person" %}
        {% set childTitle = "Contributed to" %}
    {% elseif data.acdhType|lower == "project" %}
        {% set childTitle =  "Related Collection(s)" %}
    {% elseif data.acdhType|lower == "organisation" %}
        {% set childTitle =  "Involved in" %}
    {% elseif data.acdhType|lower == "place" %}
        {% set childTitle =  "Spatial Coverage in" %}
    {% elseif data.acdhType|lower == "publication" %}
        {% set childTitle =  "Related Resource(s)" %}
    {% else %}
        {% set childTitle =  "Child Resource(s)" %}
    {% endif %}
    <div class="res-el res-info res-child-info col-block col-lg-12">
        <div class="result-basic-info">
            <span class="results-info-bar">
                <h3>{{ childTitle|trans }}</h3>
            </span>
            {% if data.acdhType|lower == "collection" or data.acdhType|lower == "topcollection" %}
                <div class="res-act-button res-act-button-reverse res-act-button-treeview basic" style="text-align:left; margin-bottom:5px;">
                    <i class="material-icons">&#xE335;</i>
                    <span>{{ "Switch to Tree-View"|trans }}</span>
                </div>
            {% endif %}   
        </div>
    </div>


    <div class="children-overview children-overview-basic">
        {{ include('/modules/contrib/arche-gui/templates/helper-paging-child.html.twig', {'data': data.pagination } ) }}

        {% for item in data.data %}

            <div class="res-el col-block col-lg-12">
                {% set titleimage = item.getTitleImage() %}        
                {% if titleimage %}<div class="res-inside-wrap col-lg-6 "> {% endif%} 

                    {% if item.getTitle() %}
                        <div class="res-property">
                            <span class="res-title">
                                {%  if item.getAccessRestriction()  %}
                                    {{ include('/modules/contrib/arche-gui/templates/helper-accesResFormat.html.twig', {'data': item.getAccessRestriction()  } ) }}
                                {% endif%}
                                <a href="/browser/oeaw_detail/{{ item.getRepoID() }}">{{ item.getTitle() }}</a>
                            </span>
                        </div>
                    {% endif%}    


                    {% if item.getRdfTypes() %}
                        <div class="res-property">
                            <i class="material-icons">&#xE54E;</i>
                            <span class="res-prop-label">{{ "Type"|trans }}: </span>
                            <span class="res-rdfType">
                                {% for value in item.getRdfTypes() %}
                                    <a id='archeHref' href="/browser/search/type={{ value }}&payload=false/titleasc/10/1">{{ value }}</a>
                                {% endfor %}
                            </span>
                        </div>
                    {% endif%}

                    {% if item.getData('acdh:hasAvailableDate')[0].value or item.getData('acdh:hasVersion')[0].value %}
                        <div class="res-property">
                            {% if item.getData('acdh:hasAvailableDate')[0].value %}
                                <i class="material-icons">today</i>
                                <span class="res-prop-label">{{ "Available Date"|trans }}:</span>
                                
                                {{ include('/modules/contrib/arche-gui/templates/helpers/helper-date.html.twig', 
                                {'value': item.getData('acdh:hasAvailableDate')[0],  'dateformat': 'd M Y' } ) }}
                                
                            {% endif%}
                            {% if item.getData('acdh:hasAvailableDate')[0].value and item.getData('acdh:hasVersion')[0].value %}
                                <i>&mdash;</i>
                            {% endif%}
                            {% if item.getData('acdh:hasVersion')[0].value %}
                                <span class="res-prop-label">{{ "Version"|trans }}:</span>
                                {{ item.getData('acdh:hasVersion')[0].value }}
                            {% endif%}
                        </div>
                    {% endif%}

                    <div class="res-inside-wrap col-lg-12">
                        <div class="res-actions">
                            {% if item.getData('acdh:hasDescription') %}
                                <div class="res-act-button res-act-button-summary closed">
                                    <i class="material-icons">&#xE145;</i>
                                    <span class="show_summary" id="show_summary_{{  item.getRepoId() }}">{{ "Show Summary"|trans }}</span>
                                    <span class="hide_summary" id="summary_{{  item.getRepoId() }}">{{ "Hide Summary"|trans }}</span>
                                </div>
                            {% endif%}

                            <div class="res-act-button">
                                <a href="/browser/oeaw_detail/{{ item.getRepoID() }}">
                                    <i class="material-icons">&#xE873;</i>
                                    <span>{{ "Detailed View"|trans }}</span>
                                </a>	
                            </div>
                        </div>

                        {% if item.getData('acdh:hasDescription') %}
                            <div class="res-property res-property-desc" id="res-property-desc-{{  item.getRepoId() }}">
                                <span class="res-description">
                                    {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', {'data': item.getData('acdh:hasDescription') , 'icon': 'info' } ) }}
                                </span>
                            </div>
                        {% endif%}
                    </div>            

                    {% if titleimage %}</div>{% endif%}

                {% if titleimage %}	
                    <div class="res-inside-wrap col-lg-6 ">	
                        <div class="single-res-thumb">
                            <a href="/browser/oeaw_detail/{{ item.getRepoID() }}">
                                {{ titleimage|raw }}
                            </a>
                        </div>
                    </div>
                {% endif%}            


            </div>
        {% endfor %}
        {{ include('/modules/contrib/arche-gui/templates/helper-paging-child.html.twig', {'data': data.pagination } ) }}
    </div>

    <div class="children-overview children-overview-tree">
        <div id="content_collection">
            <!--
            <div style="margin-top: 15px;">
                <div class="res-property">
                    <i class="material-icons">search</i>
                    <span class="res-prop-label">{{"Search"|trans }}: </span> 
                    <input id="search-input" class="collection-input-format" />
                </div>    
            </div>-->
            <!-- <div id="collectionBrowser" class="collectionBrowser_css"></div> -->
            <div id="child-tree" class="collectionBrowser_css"></div>
        </div>            
    </div>
{% endif %}