<h2>SEARCH</h2>
{{ include('/modules/contrib/arche-gui/templates/helper-paging.html.twig', {'data': paging } ) }}

{{ include('/modules/contrib/arche-gui/templates/acdh-repo-gui-detail-search-limit-block.html.twig', {'data': paging.sum } ) }}

{% for item in data %}
    {% if item.getTitle() %}
        <div class="res-el col-block col-lg-12">
            {% set titleimage = item.getTitleImage('150px') %}      
            
            {% if titleimage %}
                <div class="res-inside-wrap col-lg-8 "> 
            {% endif%} 

            {% if item.getTitle() %}
                <div class="res-property">
                    <span class="res-title">
                        {{ include('/modules/contrib/arche-gui/templates/helper-accesResFormat.html.twig', {'data': item.getAccessRestriction()  } ) }}
                        <a href="/browser/oeaw_detail/{{ item.getRepoId() }}">{{ item.getTitle() }}</a>
                    </span>
                </div>
            {% endif%}    

            {% if item.getRdfTypes() %}
                <div class="res-property">
                    <i class="material-icons">&#xE54E;</i>
                    <span class="res-prop-label">{{ "Type"|trans }}:</span> 
                    <span class="res-prop-value">
                        {% for value in item.getRdfTypes() %}
                            <a id='archeHref' href="/browser/search/type={{ value }}&payload=false/titleasc/10/1">{{ value }}</a>
                        {% endfor %}
                    </span>
                </div>
                {% if item.getAcdhType() == 'Metadata' or item.getAcdhType() == 'Resource' or item.getAcdhType() == 'TopCollection' or item.getAcdhType() == 'Collection' or item.getAcdhType() == 'Project' %}
                    {% if item.getData('acdh:hasAvailableDate') %}
                        {{ item.getPropTitle('acdh:hasAvailableDate') }}
                        <div class="res-property">
                            {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', {'data': item.getData('acdh:hasAvailableDate') , 'icon': 'today', 'dateformat': "d M Y", 'label': "Available Date", 'type': 'date'  } ) }}
                        </div>
                    {% endif%}
                {% endif%}
            {% endif%}
            
            {% if titleimage %}
                </div>
            {% endif%}

            {% if titleimage %}	

                <div class="res-inside-wrap col-lg-4 ">	
                    <div class="single-res-thumb">
                        <a href="{{ item.getTitleImageUrl('600px') }}" data-lightbox="detail-titleimage-{{  item.getRepoId() }}">
                            {{ titleimage|raw }}
                        </a>
                    </div>
                </div>
            {% endif%}            

            <div class="res-inside-wrap col-lg-12">
                {% if item.getData('headline') and item.getData('headline')[0].value 
                    and (item.getAccessRestriction().title == 'public' or item.getAccessRestriction().title == 'öffentlich' )%}                    
                    <div class="res-property">
                        <i class="material-icons">&#xe8a0;</i>
                        <span class="res-prop-label">{{ "Binary Content"|trans }}: </span>
                        <span class="res-prop-value">{{ item.getData('headline')[0].value|raw }} </span>
                    </div>
                {% endif%}

                {% if 
                    (item.getData('headline_desc') and item.getData('headline_desc')[0].value) or
                    ((item.getData('headline_binary') and item.getData('headline_binary')[0].value) and
                    (item.getAccessRestriction().title == 'public' or item.getAccessRestriction().title == 'öffentlich' ))
                %}  
                    <div class="res-property">
                        <i class="material-icons">&#xe8a0;</i>
                        <span class="res-prop-label">{{ "Search results"|trans }}: </span>
                    </div>

                {% endif%} 

                {% if item.getData('headline_desc') and item.getData('headline_desc')[0].value %}                    
                    <div class="res-property">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-1">
                                    &nbsp;
                                </div>
                                <div class="col-lg-11">
                                    <span class="res-prop-label"><li>{{ "Description"|trans }}:  </li></span>
                                    <span class="res-prop-value">{{ item.getData('headline_desc')[0].value|raw }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif%}

                {% if item.getData('headline_binary') and item.getData('headline_binary')[0].value and
                    (item.getAccessRestriction().title == 'public' or item.getAccessRestriction().title == 'öffentlich' )
                %}                    
                    <div class="res-property">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-1">
                                    &nbsp;
                                </div>
                                <div class="col-lg-11">
                                    <span class="res-prop-label"><li>{{ "Binary Content"|trans }}: </li></span>
                                    <span class="res-prop-value">{{ item.getData('headline_binary')[0].value|raw }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif%}
            </div>
            
            <div class="res-inside-wrap col-lg-12">
                <div class="res-actions">

                    {% if item.getData('acdh:hasDescription') %}
                        <div class="res-act-button res-act-button-summary closed">
                            <i class="material-icons">&#xE145;</i>
                            <span class="show_summary" id="show_summary_{{  item.getRepoId() }}">{{ "Show Summary"|trans }}</span>
                            <span class="hide_summary" id="summary_{{  item.getRepoId() }}">{{ "Hide Summary"|trans }}</span>
                        </div>
                    {% endif%}

                    <div class="res-act-button">
                        <a href="/browser/oeaw_detail/{{ item.getRepoId() }}">
                            <i class="material-icons">&#xE873;</i>
                            <span>{{ "Detailed View"|trans }}</span>
                        </a>	
                    </div>
                </div>
                {% if item.getData('acdh:hasDescription') %}
                    <div class="res-property res-property-desc" id="res-property-desc-{{  item.getRepoId() }}">
                        <span class="res-description">
                             {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', {'data': item.getData('acdh:hasDescription') , 'icon': 'info' } ) }}
                        </span>
                    </div>
                {% endif%}        
            </div>
        </div>
    {% endif %} 
{% endfor %} 
{{ include('/modules/contrib/arche-gui/templates/helper-paging.html.twig', {'data': paging } ) }}
