{% set properties = {
    'acdh:hasBinarySize': {
        'type': 'binary'
    },
    'acdh:hasCreatedDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasCreatedStartDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasCreatedEndDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasAvailableDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasStartDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasEndDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasCoverageStartDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    },
    'acdh:hasCoverageEndDate': {
        'type': 'date',
        'dateformat': 'Y-m-d'
    }
}
%}

<!-- expert view -->
<div class="single-res-overview single-res-overview-expert">
    
     {% if  basic.getTitle() %}
        <div class="res-property">
            <span class="res-title">
                {%  if basic.getAccessRestriction() %}
                    {{ include('/modules/contrib/arche-gui/templates/helper-accesResFormat.html.twig', {'data': basic.getAccessRestriction() } ) }}
                {% endif%}
                {{  basic.getTitle() }}
            </span>
        </div>
    {% endif%} 

    <table class="table table-striped" id='expertTable' cellspacing="0" width="100%" style="display: block;">
        <thead style="width: 100%; display: table;">
            <tr>
                <th>Property</th>
                <th>Value(s)</th>
            </tr>
        </thead>
        <tbody style="width: inherit; display: table; word-break: break-all;">
            {% for key,value in basic.getExpertTableData() %}
                <tr>
                    <td width='40%'>
                        {% if extra.getData(key).description %}
                            <div style='float:left;'>
                                {{ key }}
                            </div>
                            <div style='float:right;'>
                                <a  class="" data-toggle="tooltip" data-placement="right" data-html="true" title="{{ extra.getData(key).description}}">
                                    <i class="material-icons" style='font-size:17px; color: #88DBDF;'>&#xE88F;</i>
                                </a>
                            </div>
                        {% else %}
                            {{ key }}
                        {% endif %}
                    </td>
                    <td width='60%'>
                        {{ include('/modules/contrib/arche-gui/templates/helper-displayFields.html.twig', 
                            {'data': value, 'type':properties[key].type, 'dateformat': properties[key].dateformat, 'delimiter': properties[key].delimiter } 
                            ) 
                        }}  
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="res-act-button">
        <a href="#" id="showInverse" data-tableuri="{{basic.getRepoId()}}">{{ "Show Inverse Table"|trans }}</a>
    </div>

    <div id="inverseTableDiv" style="display: none;">
        <h3>{{ "Inverse Data"|trans }}</h3>
        <table class="inverseTable table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>                        
                    <th>Property</th>
                    <th>Value(s)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
        
</div>	
<br>
