
{% set properties = {
    'acdh:hasAddressLine1': {
        'icon': 'subtitles',
        'label': 'Address',
        'url_only': false
    },
    'acdh:hasAddressLine2': {
        'icon': 'subtitles',
        'label': 'Address',
        'url_only': false
    },
    'acdh:Postcode': {
        'icon': 'subtitles',
        'label': 'Postcode',
        'url_only': false
    },
    'acdh:hasCity': {
        'icon': 'subtitles',
        'label': 'City',
        'url_only': false
    },
    'acdh:hasRegion': {
        'icon': 'subtitles',
        'label': 'Region',
        'url_only': false
    },
    'acdh:hasCountry': {
	'icon': 'subtitles',
        'label': 'Country',
        'url_only': false
    },
    'acdh:hasEmail': {
        'icon': 'subtitles',
        'label': 'Email',
        'url_only': false
    },
    'acdh:hasUrl': {
        'icon': 'subtitles',
        'label': 'Url',
        'url_only': false
    },
    'acdh:hasPart': {
        'icon': 'subtitles',
        'label': 'Part',
        'url_only': false
    },
    'acdh:isPartOf': {
        'icon': 'device_hub',
        'label': 'Part of',
        'url_only': false, 
        'repoid': true
    }
}
%}

{% set extProperties = {
    'acdh:hasLatitude': {
	'icon': '',
        'label': 'Latitude',
        'url_only': false
    },
    'acdh:hasLongitude': {
        'icon': '',
        'label': 'Longitude',
        'url_only': false
    },
    'acdh:hasWKT': {
        'icon': '',
        'label': 'WKT',
        'url_only': false
    }
}
%}

<div class="arche-detail-view" >
    
    <div class="arche-detail-main" id="arche-dv-main">
        {% if basic.getTitleImage() %}<div class="res-inside-wrap col-lg-8 ">{% endif%}
        
           
            {% if basic.getAcdhType() %}
                <div class="res-property">
                    <i class="material-icons">&#xE54E;</i>
                    <span class="res-prop-label">{{ "Type"|trans }}:</span> 
                    <span class="res-prop-value">
                        <a href="/browser/discover/&type={{ basic.getAcdhType() }}/10">{{ basic.getAcdhType() }}</a>
                    </span>
                </div>
            {% endif%}
             
            {% for key, value in properties %}
                {% if basic.getData(key) %}
                     {{ include('/modules/custom/acdh_repo_gui/templates/helper-displayField.html.twig', {'data': basic.getData(key), 'icon': value.icon, 'label':  value.label, 'url_only': value.url_only, 'repoid': value.repoid } ) }}
                {% endif%}
            {% endfor %}
            
            
            <h3 class="single-res-heading">{{ "Spatial information"|trans }}</h3>
            
            {% for key, value in extProperties %}
                {% if basic.getData(key) %}
                     {{ include('/modules/custom/acdh_repo_gui/templates/helper-displayField.html.twig', {'data': basic.getData(key), 'icon': value.icon, 'label':  value.label, 'url_only': value.url_only, 'repoid': value.repoid } ) }}
                {% endif%}
            {% endfor %}
            
        {% if basic.getData('acdh:hasLongitude').0.title and  basic.getData('acdh:hasLatitude').0.title %}
            <div class="res-property">
                <span class="res-prop-label">{{"Map"|trans }}: </span>
                 <span class="res-prop-value">
                    <iframe 
                        width="425" height="350" frameborder="0" 
                        scrolling="no" marginheight="0" marginwidth="0" 
                        src="https://www.openstreetmap.org/export/embed.html?bbox={{ basic.getData('acdh:hasLongitude').0.title }}%2C{{ basic.getData('acdh:hasLatitude').0.title }}%2C{{ basic.getData('acdh:hasLongitude').0.title }}%2C{{ basic.getData('acdh:hasLatitude').0.title }}&amp;layer=mapnik&amp;marker={{ basic.getData('acdh:hasLatitude').0.title }}%2C{{ basic.getData('acdh:hasLongitude').0.title }}" 
                        style="border: 1px solid black"
                        >
                            
                    </iframe>
                     <br/><small><a href="https://www.openstreetmap.org/?mlat=48.2082&amp;mlon=16.3288#map=12/{{basic.getData('acdh:hasLatitude').0.title }}/{{ basic.getData('acdh:hasLongitude').0.title }}">View Larger Map</a></small>
                        
                </span>
            </div>
        {% endif%}
            
        {% if basic.getTitleImage() %}</div>{% endif%}
        
        {% if basic.getTitleImage() %}	
           <div class="res-inside-wrap col-lg-4 ">	
                <div class="single-res-thumb">
                    <a href="/browser/oeaw_detail/{{ basic.getRepoId() }}"><img src="data:image/png;base64,{{ basic.getTitleImage() }}" /></a>
                </div>
            </div>
        {% endif%}
    </div>

</div>    
