<!--

The template is processing the following fields:
- data: the property data
- type: text / internal_url / external_url / external_url_with_title / binary / date / vocabs
- delimiter (optional): basic is ",", you can use also "<br>"
- icon: the fontawesome icon name, what will be displayed before the label
- label: the label what should be displayed before the value
- dateformat (optional):  f.e: 'd M Y'
- where_to_open : same_page / new_tab

-->

{%  if (delimiter) %}
    {% set limiter = delimiter|raw %}
{% else %}
    {% set limiter = ',' %}
{% endif%}
<!--  -->
{% if (where_to_open == 'new_tab') %}
    {% set open = 'target="_blank"' %}
{% endif %} 

{%  if data %}
    <div class="res-property">
        {% if icon %}
            <i class="material-icons">{{ icon }}</i>
        {% endif%}
        
        {% if label %}
            <span class="res-prop-label">{{ label|trans }}:</span>
        {% endif%}
        
         <span class="res-prop-value">
             
            {% if data is iterable %}
                
                {% for value in data %}
                    
                    <!--  internal means that we will open the value inside the arche page -->
                    {% if (type == 'internal_url') %}
                        <!-- -->
                        {% if (value.title and value.repoid )  %}
                            <a id='archeHref' href="/browser/oeaw_detail/{{ value.repoid }}" {{ open }}>{{ value.title|nl2br }}</a>
                        {% elseif (value.value and value.repoid )  %}                            
                            <a id='archeHref' href="/browser/oeaw_detail/{{ value.repoid }}" {{ open }}>{{ value.value|nl2br }}</a>
                        {% elseif (value.relvalue and value.repoid )  %}                            
                            <a id='archeHref' href="/browser/oeaw_detail/{{ value.repoid }}" {{ open }}>{{ value.relvalue|nl2br }}</a>    
                        {% elseif (value.value) %}
                            <!-- if we dont have a repoid then some ingestion problem, so we will just display simple value -->
                            {{ value.value }}
                        {% endif %}
                    {% endif %}
                    
                    <!-- the property value is a simple text, no url, no vocabs, no special handling requires -->
                    {% if (type == 'text') %}
                        {% if (value.title) %} 
                            {{ value.title|nl2br }}
                        {% elseif (value.value) %} 
                            {{ value.value|nl2br }}    
                        {% endif %}
                    {% endif %}
                    
                    <!-- if there is no type defined then simply display the title -->
                    {% if (type is null) %}
                        {% if (value.value) %} 
                            {{ value.value|nl2br }}
                        {% elseif (value.title) %} 
                            {{ value.title|nl2br }}    
                        {% elseif (value.relvalue) %} 
                            {{ value.relvalue|nl2br }}    
                        {% endif %}
                    {% endif %}
                    
                    <!-- vocabs ids handling -->
                    {% if (type == 'vocabs') %}
                        {% if (value.relvalue and value.vocabsid)  %}                            
                            <a href="{{ value.vocabsid }}" {{ open }}>{{ value.relvalue|nl2br }}</a>
                        {% else %}    
                            <!-- if we dont have a valid vocabs value in the DB -->
                            {{ value.value }}
                        {% endif %}
                    {% endif %}
                    
                    <!-- Simply external url -->
                    {% if (type == 'external_url') %}
                        {% if (value.value)  %}                            
                            <a href="{{ value.value }}" {{ open }}>{{ value.value|nl2br }}</a>
                        {% endif %}
                    {% endif %}
                                        
                    <!-- External url with title -->
                    {% if (type == 'external_url_with_title') %}
                        {% if (value.title)  %}
                            <a href="{{ value.relvalue }}" {{ open }}>{{ value.title|nl2br }}</a>
                        {% else  %}
                            <a href="{{ value.relvalue }}" {{ open }}>{{ value.relvalue|nl2br }}</a>
                        {% endif %}
                    {% endif %}
                    
                    <!-- DATE format handling -->
                    {% if (type == 'date' and dateformat) %}
                        {{ value.value|date(dateformat) }}
                    {% endif %}
                    
                    <!-- Binary formatting -->
                    {% if (type == 'binary') %}
                        <!-- if it is a binary -->
                        {% if(value.value == 0) %}
                            {{ value.value }} KB
                        {% else %}
                            {% set bytes =  value.value %}
                            {% set kiloBytes = (bytes / 1024)|round(2) %}
                            {% set megaBytes = (kiloBytes / 1024)|round(2) %}
                            {% set gigaBytes = (megaBytes / 1024)|round(2) %}

                            {% if (gigaBytes) > 0  %}
                                {{ gigaBytes }} GB
                            {% elseif (megaBytes) > 0  %}
                                {{ megaBytes }} MB
                            {% elseif (kiloBytes) > 0  %}                            
                                {{ kiloBytes }} KB
                            {% endif%}    
                        {% endif%}   
                            
                    {% endif %}
                    
                    <!-- if there are more than 1 value then we will display the delimiter -->
                    {% if not loop.last %} {{ limiter|raw }} {% endif %}
                {% endfor %}
            {% else %}
                <!-- if the data is not an array then we will just simply display the value -->
                 {{ data }}
            {% endif %}
        </span>
    </div>
{% endif%}