


{%  if (delimiter is not defined) %}
     {% set delimiter = ',' %}
{% endif%}
 
{%  if data %}
    <div class="res-property">
        {% if icon %}
            <i class="material-icons">{{ icon }}</i>
        {% endif%}
        
        {% if label %}
            <span class="res-prop-label">{{ label|trans }}:</span>
        {% endif%}
        
         <span class="res-prop-value">
             
            {% if data is iterable %}
                {% for value in data %}
                    {% if (url_only)  %}
                        <!-- only url and we have url value-->
                        {% if (value.uri)  %}
                            <a href="{{ value.uri }}" target="_blank">{{ value.uri }}</a>
                         {% else  %}
                             <!-- only url but just the title contains it-->
                             <a href="{{ value.title }}" target="_blank">{{ value.title }}</a>
                         {% endif  %}     
                    {% elseif (external_url_title)  %} 
                        <!-- for the extrenal urls -->
                        {% if (value.title  and value.uri )  %}
                            <a href="{{ value.uri }}" target="_blank">{{ value.title }}</a>
                        {% else %}
                            <a href="{{ value.uri }}" target="_blank">{{ value.title }}</a>
                        {% endif %}
                    {% elseif (value.vocabsid)  %}
                        <!-- for the vocabs -->
                        <a  href="{{ value.uri }}" target="_blank">{{ value.title|nl2br }}</a>
                    {% elseif (repoid)  %}
                        <!-- so it is not an external url so we use the repoid and thre title -->
                        {% if (value.repoid) and (value.title)  %}
                            <a id='archeHref' href="/browser/oeaw_detail/{{ value.repoid }}">{{ value.title|nl2br }}</a>
                        {% elseif (value.repoid)  %}
                            <!-- we have just repoid -->
                            <a id='archeHref' href="/browser/oeaw_detail/{{ value.repoid }}">{{ value.repoid }}</a>
                        {% else  %}
                            <!-- a simple text value -->
                            {{ value.title|nl2br }}
                        {% endif  %}   
                    {% elseif (dateformat)  %}
                        <!-- if we have special dateformat -->
                        {{ value.value|date(dateformat) }}
                    {% elseif (isbinary)  %}
                        <!-- if it is a binary -->
                        {% if(value.value == 0) %}
                            {{ value.value }} KB
                        {% else %}
                            {% set bytes =  value.value %}
                            {% set kiloBytes = (bytes / 1024)|round(2) %}
                            {% set megaBytes = (kiloBytes / 1024)|round(2) %}
                            {% set gigaBytes = (megaBytes / 1024)|round(2) %}

                            {% if (gigaBytes) > 0  %}
                                {{ gigaBytes }} GB
                            {% elseif (megaBytes) > 0  %}
                                {{ megaBytes }} MB
                            {% elseif (kiloBytes) > 0  %}                            
                                {{ kiloBytes }} KB
                            {% endif%}    
                        {% endif%}    
                        
                    {% elseif (value.insideUri) and (value.title)  %}
                        <!-- we have special inside uri -->
                        <a id='archeHref' href="/browser/oeaw_detail/{{ value.insideUri }}">{{ value.title|nl2br }}</a>
                    {% elseif value.title and value.uri %}
                        <!-- we have title and uri - basic case -->
                        <a href="{{ value.uri }}" target="_blank">{{ value.title|nl2br }}</a>
                    {% elseif value.uri %}
                        <a href="{{ value.uri }}" target="_blank">{{ value.uri }}</a>
                    {% elseif value.title %}
                        {{ value.title }}
                    {% elseif value.value %}
                        {{ value.value }}
                    {% elseif value.value == 0 %}
                        {{ value.value }}
                    {% endif%}
                    {% if not loop.last %},{% endif %}
                {% endfor %}
            {% else %}
                 {{ data }}
            {% endif %}
        </span>
    </div>
{% endif%}