
<div class="res-el res-info col-block col-lg-12">
    
    <div class="result-basic-info">
        <span class="results-info-bar">{{ data.sum }} {{ "Result(s)"|trans }}</span>
        <span class="results-info-bar">{{ "Page"|trans }} {{ data.page }} {{ "of"|trans }} {{ data.numPage }}</span>
        <span class="results-info-bar results-info-bar-items">{{ "Items"|trans }}
            <div class="pagination-dropdown dropdown">
              <button class="btn btn-secondary dropdown-toggle resPerPageButton" type="button" id="resPerPageButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                10
              </button>
              <div class="dropdown-menu" aria-labelledby="resPerPageButton" id="resPerPageButton">
                <a class="dropdown-item" href="#">10</a>
                <a class="dropdown-item" href="#">25</a>
                <a class="dropdown-item" href="#">50</a>
              </div>
            </div>
        </span>
            
        <span class="results-info-bar results-info-bar-sort"> {{ "Sort by"|trans }}
            <div class="pagination-dropdown dropdown">
              <button class="btn btn-secondary dropdown-toggle sortByButton" type="button" id="sortByButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ "Title"|trans }} (ASC)
              </button>
              <div class="dropdown-menu" aria-labelledby="sortByButton" id="sortByDropdown">
                <a class="dropdown-item" data-value="titleasc" href="#">{{ "Title"|trans }} (ASC)</a>
                <a class="dropdown-item" data-value="titledesc" href="#">{{ "Title"|trans }} (DESC)</a>
                <a class="dropdown-item" data-value="typeasc" href="#">{{ "Type"|trans }} (ASC)</a>
                <a class="dropdown-item" data-value="typedesc" href="#">{{ "Type"|trans }} (DESC)</a>
              </div>
            </div>
        </span>
        <span class="results-info-bar pagination-span">{{ data.pager|raw }}</span>
    </div>
</div>
    